/*
    NAME : STYLE.CSS
    AUTHOR : GABIN RIMBAULT
*/

/*
--------------------------------------------------
                #DEFAULT
--------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

body {
    width: 100%;
    background-color: #FFFFFF;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

.p-12 {
    font-size: 12px;
    margin-bottom: 0;
}

.flex-row-list {
    display: flex;
    flex-direction: row;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.blue-star {
    font-size: 12px;
    color: #0065FC;
}

.grey-star {
    font-size: 12px;
    color: #F2F2F2;
}

/*
--------------------------------------------------
            #HEADER & NAVBAR
--------------------------------------------------
*/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header > a > img {
    width: 80px;
}

.nav-list {
    display: flex;
}

.nav-list > li {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list > li:hover,
.nav-list > li:active {
    border-top: 5px solid #0065FC;
    transition-duration: 0.2s;
}

.nav-list > li > a {
    font-weight: 300;
}

/*
--------------------------------------------------
                  #SEARCH
--------------------------------------------------
*/

.search-form {
    display: flex;
}

.search-form > input[type="text"] {
    height: 50px;
    border: none;
    padding-left: 10px;
    font-weight: 900;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 200px;
}

.search-form > input[type="submit"] {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.search-form > button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0;
}

/*
--------------------------------------------------
                  #INFOS
--------------------------------------------------
*/

#infos {
    align-items: center;
}

#infos > i {
    text-align: center;
    border: 2px solid #F2F2F2;
    height: 25px;
    width: 25px;
    color: #0065FC;
    border-radius: 30px;
    margin-right: 15px;
}

#infos > i:before {
    font-size: 13px;
}

#infos > p {
    margin-bottom: 0;
}

/*
--------------------------------------------------
                  #FILTRES
--------------------------------------------------
*/

#filtres {
    display: flex;
    align-items: center;
}

#filtres > h2 {
    margin-bottom: 0;
}

#filtres-list {
    display: flex;
}

#filtres-list > li > a {
    border: 2px solid #F2F2F2;
    border-radius: 100px;
}

#filtres-list > li > a > i {
    border-radius: 30px;
    color: blue;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
}

#filtres-list > li > a > i:before {
    position: relative;
    top: 16px;
    left: 15px;

}

#filtres-list > li > a > p {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

/*
--------------------------------------------------
                  #CONTENTS
--------------------------------------------------
*/
#content {
    display: flex;
    justify-content: space-between;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: 70%;
    padding: 20px;
}

#hebergements > h2,
#hebergements > a {
    font-weight: 800;
    padding: 0 20px;
}

#populaire {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    flex-basis: 28%;
}

#populaire > .flex-row-list {
    justify-content: space-between;
}

#populaire > article {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0e0e0;
    padding: 4px;
    height: 107px;
}

#populaire > article > a {
    display: flex;
}

#populaire > article:last-child {
    margin-bottom: 0;
}

.popular-article > a > img {
    border-radius: 10px 0 0 10px;
}

.right-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.popular-infos > h3,
.popular-infos > p {
    margin-bottom: 0;
}

#articles-hebergements {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

#articles-hebergements > article {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0e0e0;
    margin-right: auto;
    flex-basis: 31%;
    margin-bottom: 20px;
    padding: 5px;
}

#articles-hebergements > article > a > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

#articles-hebergements > article > a > h3,
#articles-hebergements > article > a > p,
#articles-hebergements > article > a > div {
    padding-left: 10px;
    margin-bottom: 0;
}

/*
--------------------------------------------------
                #ACTIVITES
--------------------------------------------------
*/

#activites {
    margin-top: 65px;
}

#activites > .wrapper-activites {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#activites > .wrapper-activites > article {
    border-radius: 20px;
    box-shadow: 1px 1px 10px #e0e0e0;
}

#activites > .wrapper-activites > article > a > img {
    border-radius: 20px 20px 0 0;
}

#activites > .wrapper-activites > article > a > h3 {
    padding: 20px;
    margin-bottom: 0;
}

/*
--------------------------------------------------
                #FOOTER
--------------------------------------------------
*/


footer {
    background-color: #F2F2F2;
    margin-top: 20px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 200px;
    padding-bottom: 30px;
}

footer > section {
    height: 100px;
}

footer > section > h3 {
    margin-bottom: 10px;
}

ul.list-links-footer > li {
    margin-bottom: 10px;
}