/*
    NAME : STYLE.CSS
    AUTHOR : GABIN RIMBAULT
*/

/*
--------------------------------------------------
                #DEFAULT
--------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

body {
    width: 100%;
    background-color: #FFFFFF;
}

article{
    transition: transform .2s;
    cursor: pointer;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

.p-12 {
    font-size: 12px;
    margin-bottom: 0;
}

.flex-row-list {
    display: flex;
    flex-direction: row;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.blue-star {
    font-size: 12px;
    color: #0065FC;
}

.grey-star {
    font-size: 12px;
    color: #F2F2F2;
}

/*
--------------------------------------------------
            #HEADER & NAVBAR
--------------------------------------------------
*/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header > a > img {
    width: 80px;
}

.nav-list {
    display: flex;
}

.nav-list > li {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list > li:hover,
.nav-list > li:active {
    border-top: 5px solid #0065FC;
    transition-duration: 0.2s;
}

.nav-list > li:hover a{
    color: #0065FC;
}

.nav-list > li > a {
    font-weight: 300;
    text-align: center;
}

/*
--------------------------------------------------
                  #SEARCH
--------------------------------------------------
*/

.search-form {
    display: flex;
}

.search-form > input[type="text"] {
    height: 50px;
    border: none;
    padding-left: 10px;
    font-weight: 900;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 200px;
}

.search-form > input[type="submit"] {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.search-form > button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0;
}

button.item-search{
    height: 50px;
    width: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 21px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

button.item-search > i {
    color: #FFFFFF;
}
/*
--------------------------------------------------
                  #INFOS
--------------------------------------------------
*/

#infos {
    align-items: center;
}

#infos > i {
    text-align: center;
    border: 2px solid #F2F2F2;
    height: 25px;
    width: 25px;
    color: #0065FC;
    border-radius: 30px;
    margin-right: 15px;
}

#infos > i:before {
    font-size: 13px;
}

#infos > p {
    margin-bottom: 0;
}

/*
--------------------------------------------------
                  #FILTRES
--------------------------------------------------
*/

#filters {
    display: flex;
    align-items: center;
}

#filters > h2 {
    margin-bottom: 0;
}

#filters-list {
    display: flex;
}

#filters-list > li > a {
    border: 2px solid #F2F2F2;
    border-radius: 100px;
}

#filters-list > li > a > i {
    border-radius: 30px;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
}

#filters-list > li > a > i:before {
    position: relative;
    top: 16px;
    left: 15px;

}

#filters-list > li > a > p {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

/*
--------------------------------------------------
                  #CONTENTS
--------------------------------------------------
*/
#content {
    display: flex;
    justify-content: space-between;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: 70%;
    padding: 20px;
}

#hebergements > h2,
#hebergements > a {
    font-weight: 800;
    padding: 0 20px;
}

#popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    flex-basis: 28%;
}

#popular > .flex-row-list {
    justify-content: space-between;
}

#popular > article {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0e0e0;
    padding: 4px;
    height: 107px;
}

#popular > article > a {
    display: flex;
}

#popular > article:last-child {
    margin-bottom: 0;
}

.popular-article > a > img {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    height: 99px;
    width: 99px;
}

.right-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.popular-infos > h3,
.popular-infos > p {
    margin-bottom: 0;
}

#articles-hebergements {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

#articles-hebergements > article {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0e0e0;
    margin-right: auto;
    flex-basis: 31%;
    margin-bottom: 20px;
    padding: 5px;
}

#articles-hebergements > article > a > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    height: 80px;
}

#articles-hebergements > article > a > h3,
#articles-hebergements > article > a > p,
#articles-hebergements > article > a > div {
    padding-left: 10px;
    margin-bottom: 0;
}

/*
--------------------------------------------------
                #ACTIVITES
--------------------------------------------------
*/

#activities {
    margin-top: 65px;
}

#activities > .wrapper-activites {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#activities > .wrapper-activites > article {
    border-radius: 20px;
    box-shadow: 1px 1px 10px #e0e0e0;
}

#activities > .wrapper-activites > article > a > img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

img.img_haute {
    height: 390px;
    width: 230px;
}

img.img_medium{
    height: 180px;
    width: 220px;
}

img.img_small {
    height: 100px;
    width: 220px;
}

#activities > .wrapper-activites > article > a > h3 {
    padding: 20px;
    margin-bottom: 0;
}

/*
--------------------------------------------------
                #FOOTER
--------------------------------------------------
*/


footer {
    background-color: #F2F2F2;
    margin-top: 20px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 200px;
    padding-bottom: 30px;
}

footer > section {
    height: 100px;
}

footer > section > h3 {
    margin-bottom: 10px;
}

ul.list-links-footer > li {
    margin-bottom: 10px;
}


/*
--------------------------------------------------
                #ANIMATION
--------------------------------------------------
*/

article:hover{
    transform: scale(1.05);
}

#filters-list > li:hover > a {
    background-color: #DEEBFF;
}

#filters-list > li:hover > a > p {
    color: #0065FC;
}

#filters-list > li:hover > a > i{
    color: #DEEBFF;
    background-color: #0065FC;
}

.search-form > input[type="submit"]:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}

.search-form > button:hover{
    background-color: #DEEBFF;
}

.search-form > button:hover > i{
    color: #0065FC;
}

i.fas.fa-star{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

i.fas.fa-star:hover{
    color: #0065FC;
    transition: 0.9s;
    transform: rotateY(180deg);
}

/*
--------------------------------------------------
                #TABLETTE
--------------------------------------------------
*/

@media screen and (max-width: 992px){
    header{
        flex-direction: column;
    }

    header > a {
        text-align: center;
    }

    header > a > img {
        height: 80px;
        width: 200px;
    }

    nav {
        width: 100%
    }

    .nav-list {
        width: 100%;
    }

    .nav-list > li {
        flex: 1;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }

    .nav-list > li:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav-list > li:hover > a{
        color: #0065FC;
    }

    .nav-list > li > a {
        font-size: 18px;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .container{
        max-width: 748px;
    }

    #search{
        text-align: center;
    }

    .search-form{
        justify-content: center;
    }

    .search-form > input[type="submit"]{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    button.item-search{
        position: inherit;
        top: inherit;
        left: inherit;
    }

    #filters{
        flex-direction: column;
    }

    #filters-list{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .filters{
        margin-top: 20px;
    }

    #infos{
        justify-content: center;
    }

    #content{
        flex-direction: column-reverse;
    }

    #hebergements{
        background-color: #FFFFFF;
        padding: 0;
    }

    #popular{
        margin-bottom: 20px;
    }

    #popular > article{
        height: 100%;
    }

    .right-infos{
        padding: 5px 15px;
    }

    .popular-article > a > img {
        width: 250px;
        height: 110px;
    }

    img{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    #articles-hebergements{
        flex-direction: column;
        margin-left: 0;
    }

    #articles-hebergements > article{
        width: 100%;
    }

    #articles-hebergements > article > a > img {
        height: 180px;
    }

    #activities > .wrapper-activites{
        height: inherit;
        flex-wrap: inherit;
        justify-content: inherit;
        align-content: inherit;
    }
    #activities > .wrapper-activites > article {
        margin-bottom: 20px;
    }

    #activities > h2 {
        padding: 0 15px;
    }

    img.img_haute {
        height: 750px;
        width: 100%;
    }

    img.img_medium{
        height: 750px;
        width: 100%;
    }

    img.img_small {
        height: 750px;
        width: 100%;
    }

    footer{
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        padding-bottom: 0;
    }

    footer > section {
        margin-top: 20px;
        padding: 0 20px;
    }

    footer > section:last-child{
        margin-top: 0;
    }
}

/*
--------------------------------------------------
                #MOBILE - L
--------------------------------------------------
*/

@media screen and (max-width: 425px){
    .container{
        max-width: 405px;
    }
}

/*
--------------------------------------------------
                #MOBILE - M
--------------------------------------------------
*/

@media screen and (max-width: 375px){
    .container{
        max-width: 355px;
    }
}

/*
--------------------------------------------------
                #MOBILE - S
--------------------------------------------------
*/

@media screen and (max-width: 320px){
    .container{
        max-width: 300px;
    }
}